@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --black: #000;
  --red: rgb(223, 163, 163);
  --offWhite: #fafafa;
  --borderBottom: #efefef;
}

body {
  font-family: "Open Sans", sans-serif;
  background: var(--offWhite);
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 54px;
  background: var(--white);
  display: flex;
  padding: 0 200px;
  border-bottom: 1px solid var(--borderBottom);
  align-items: center;
}

.navbar__first {
  width: 33.333333333333333%;
}

.navbar__first-logo {
  margin-top: 6 px;
}

/* this is a property if logo is not in correct size */
.navbar__first-logo img {
  object-fit: cover;
  display: block;
}
